[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
sqlalchemy = "*"
motor = "*"
pytest = "*"
fastapi = "*"
psycopg2-binary = "*"
pydantic-settings = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
asyncpg = "*"
sqlalchemy_utils = "*"
bcrypt = "*"
alembic = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
asyncpg = "*"
sqlalchemy_utils = "*"
bcrypt = "*"


[dev-packages]

[requires]
python_version = "3.10"
